PORT=3001
NODE_ENV=development
CORS_ORIGINS=http://localhost:5173,http://localhost:3000
LOG_LEVEL=info
MONGO_URI=mongodb://localhost:27017/fr_dev
REDIS_URL=redis://localhost:6379
REDIS_NAMESPACE=fr:dev
# Auth/JWT
JWT_SECRET=dev_only_change_me
JWT_REFRESH_SECRET=dev_only_change_me_refresh
JWT_ACCESS_TTL=15m
JWT_REFRESH_TTL=30d
JWT_ISS=fr-api
JWT_AUD=fr-clients
BCRYPT_ROUNDS=12
